{{/* A whole bunch of code frankensteined together lol */}}
{{/* Responsive webp images code from: https://www.bennettnotes.com/notesnotes/hugo-responsive-images-with-markdown-render-hook/   */}}
{{/* Get image resource code from https://discourse.gohugo.io/t/works-for-all-pictures-but-fails-there-at-medium-relpermalink-can-t-evaluate-field-relpermalink-in-type-string/42227/20 */}}

{{/* Determine content path for error messages. */}}
{{ $path := "" }}
{{ with .Page.File }}
  {{ $path = .Path }}
{{ else }}
  {{ $path = .Path }}
{{ end }}

{{/* Get image resource. */}}
{{ $url := urls.Parse .Destination }}
{{ $src := "" }}
{{ if $url.IsAbs }}
  {{ with resources.GetRemote $url.String }}
    {{ with .Err }}
      {{ errorf "Unable to get remote image %s: %s. See %s" $url.String . $path }}
    {{ else }}
      {{/* Image is a global resource (remote). */}}
      {{/* Copy remote image into images folder */}}
      {{ $remoteimg := resources.GetRemote $url.String }}
      {{ $newpath := path.Join "images" $remoteimg }}
      {{ $src = resources.Copy $newpath . }}
    {{ end }}
  {{ else }}
    {{ errorf "Unable to get remote image %s. See %s" $url.String $path }}
  {{ end }}
{{ else }}
  {{ with .Page.Resources.Get $url.Path }}
    {{/* Image is a page resource. */}}
    {{ $src = . }}
  {{ else }}
    {{ with resources.Get $url.Path }}
      {{/* Image is a global resource (local). */}}
      {{ $src = . }}
    {{ else }}
      {{ errorf "Unable to get image %s. See %s" $url.Path $path }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $alt := .PlainText | safeHTML }}

{{/* So for posts that aren't setup in the page bundles, it doesn't fail  */}}

{{ if $src }}
  {{ $tinyw := default "500x webp" }}
  {{ $smallw := default "800x webp" }}
  {{ $mediumw := default "1200x webp" }}
  {{ $largew := default "1600x webp" }}

  {{/* My own modernising - straight up resize instead of adding to scratch */}}
  {{/* resize the src image to the given sizes */}}
  {{ $tiny := $src.Resize $tinyw }}
  {{ $small := $src.Resize $smallw }}
  {{ $medium := $src.Resize $mediumw }}
  {{ $large := $src.Resize $largew }}

  {{/* only use images smaller than or equal to the src (original) 
  image size, as Hugo will upscale small images */}}


  <a href="{{ $src.Permalink }}">
      <picture>
      <source media="(max-width:376px)" 
          srcset="{{with $tiny.Permalink }}{{.}}{{ end }}">
      <source media="(max-width:992px)" 
          srcset="{{with $small.Permalink }}{{.}}{{ end }}">
      <source media="(max-width:1400px)" 
          srcset="{{with $medium.Permalink }}{{.}}{{ end }}">
      <source media="(min-width:1600px)" 
          srcset="{{with $large.Permalink }}{{.}}{{ end }}">
      <img 
    alt="{{ $alt }}" title="{{ $alt }}" src="{{ $src }}" 
    height="{{ $src.Height }}" width="{{ $src.Width }}" class="img-fluid" loading="lazy">
  </picture>
  </a>
    
    {{/* Since I do image-response class, the only thing that really 
    matters is the height and width matches the image aspect ratio */}}

{{ end }}


