<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
    <link rel="shortcut icon" href="{{ .Site.Params.favicon | default "/favicon.ico" }}" />
    <meta charset="utf-8" />
    {{ hugo.Generator }}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author | default "John Doe" }}" />
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "css/main.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}

    {{ $avatar := resources.Get "images/avatar.jpg" }}
    {{ $alt := "Jasmint" }}
    {{ $webp := $avatar.Resize (printf "%dx%d webp photo" $avatar.Width $avatar.Height) }}
    {{ $jpeg := $avatar.Resize (printf "%dx%d jpeg" $avatar.Width $avatar.Height) }}
    
    {{/* Defining sizes and resizing the webp */}}
    {{ if $avatar }}
      {{ $smallw := default "100x webp" }}
      {{ $mediumw := default "400x webp" }}
      {{ $largew := default "800x webp" }}
    
      {{ $small := $avatar.Resize $smallw }}
      {{ $medium := $avatar.Resize $mediumw }}
      {{ $large := $avatar.Resize $largew }}
  </head>
  <body>
    <header class="app-header">
      <a href="{{ .Site.BaseURL }}">
        <picture>
          <source media="(max-width:376px)" 
              srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">
          <source media="(max-width:760px)" 
              srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">
          <source media="(min-width:761px)" 
              srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">
          <img class="app-header-avatar" alt="{{ $alt }}" title="{{ $alt }}" src="{{ $avatar }}" 
          height="{{ $avatar.Height }}" width="{{ $avatar.Width }}" aspect-ratio="attr(width) / attr(height)" class="img-fluid" loading="eager">
        </picture>
      </a>
    {{ end }}
      <span class="app-header-title">{{ .Site.Title }}</span>
      {{- with .Site.Menus.main }}
      <nav class="app-header-menu">
        {{- range $key, $item := . }}
          {{- if ne $key 0 }}
            {{ $.Site.Params.menu_item_separator | default " - " | safeHTML }}
          {{ end }}
          <a class="app-header-menu-item" href="{{ $item.URL }}">{{ $item.Name }}</a>
        {{- end }}
      </nav>
      {{- end }}
      <p>{{ .Site.Params.description | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula turpis sit amet elit pretium." }}</p>
      {{- with .Site.Params.social }}
      <div class="app-header-social">
        {{ range . }}
          <a href="{{ .url }}" target="_blank" rel="noreferrer noopener me">
            {{ partial "icon.html" (dict "ctx" $ "name" .icon "title" .name) }}
          </a>
        {{ end }}
      </div>
      {{- end }}
      {{ partial "toggle.html" . }}
    </header>
    <main class="app-container">
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
    </main>
  </body>
</html>
