{{ define "main" }}
{{ $banner := resources.Get "images/website_hero_image.png" }}
{{ $alt := "Kam'lanaut pats a good boi." }}
{{ $webp := $banner.Resize (printf "%dx%d webp photo" $banner.Width $banner.Height) }}
{{ $jpeg := $banner.Resize (printf "%dx%d jpeg" $banner.Width $banner.Height) }}

{{/* Defining sizes and resizing the webp */}}
{{ if $banner }}
  {{ $tinyw := default "500x webp" }}
  {{ $smallw := default "800x webp" }}
  {{ $mediumw := default "1000x webp" }}
  {{ $largew := default "1200x webp" }}

  {{ $tiny := $banner.Resize $tinyw }}
  {{ $small := $banner.Resize $smallw }}
  {{ $medium := $banner.Resize $mediumw }}
  {{ $large := $banner.Resize $largew }}

  <article>
    <h1>Jasmint's stuff :D</h1>
    <p>A place where I put things for convenience.</p>
    
    <div class="banner">
      <picture>
        <source media="(max-width:376px)" 
            srcset="{{with $tiny.RelPermalink }}{{.}}{{ end }}">
        <source media="(max-width:992px)" 
            srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">
        <source media="(max-width:1400px)" 
            srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">
        <source media="(min-width:1600px)" 
            srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">
        <img alt="{{ $alt }}" title="{{ $alt }}" src="{{ $banner }}" 
        height="{{ $banner.Height }}" width="{{ $banner.Width }}" class="img-fluid" loading="eager">
    </picture>
    </div>

    <p style="text-align:center; font-size:0.8em;"><em>You should give the good boi a pat too! ;D</em></p>
    <h2>Lastest Posts</h2>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
{{ end }}
