img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

// left column

@media (min-width: 940px) {
	.app-header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 20rem;
	}
  
	.app-container {
	  max-width: 65rem;
	  margin-left: 20rem;
	}
}

// table of contents scaling behaviour and features
@media (min-width: 95rem) {
	.app-container {
		margin-right: 18rem;
	}

	.table-of-contents {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1;
		overflow-x: hidden;
		padding: 1em;
		border-left: 1px dashed $primary-color;
		background-color: $dark-color;
		font-size: 0.9em;
		width: 18rem;
		height: 100%;
	}
} 

.table-of-contents a {
	color: $primary-color;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 0.1rem;
}

.table-of-contents h2, ol {
	margin: 0;
	padding-inline: 0.1em;
	font-size: 0.9em;
}

.table-of-contents a:hover,
.table-of-contents a:focus {
	color: $lightest-color;
	transition: color 0.35s;
}

// inline css functions
// Centre something
.center {
	text-align: center;
}

.annotation {
	text-align: center;
	background: $darkest-color;
	border-bottom: 2px solid $primary-color;
	border-radius: 8px;
	padding: 5px;
}

.accentline {
	border-bottom: 3px solid $primary-color;
	paddimg: 5px;
}

.smalltext {
	font-size: 0.9em;
}

.important {
	text-align: center;
	background: $darkest-color;
	border: 2px dashed $primary-color;
	padding: 5px;
}

.answer {
	text-align: left;
	background: $darkest-color;
	border-top: 2px solid $primary-color;
	padding: 5px;
}

.indent {
	margin-left: 2.7em;
}

h2 {
	font-size: 1.375em;
}

h3 {
	font-size: 1.25em;
}

// Custom icons support
span.icon {
  fill: currentcolor;
  stroke: currentcolor;
  stroke-width: 0;
}

// Dark mode toggle, colours from default theme template (lol)
// Let the pain begin Q_Q
body.dark-mode,
body.dark-mode main {
	background: $dark-dark-color;

	// Main content
	.app-container {
		background: $dark-dark-color;
		color: $dark-light-color;
	}

	.app-header {
		background: $dark-darkest-color;
		color: $dark-light-color;
	}

	// Anything that uses the lightest colour
	h1, h2, h3, h4, h5, h6, 
	.app-header-social, .app-header-title {
		color: $dark-lightest-color;
	}

	// Tailored to these items
	.app-header-avatar {
		border: 0.5rem solid $dark-primary-color;
	}

	.table-of-contents {
		background: $dark-dark-color;
	}

	a {
		color: $dark-primary-color;
	&:hover {
		color: $dark-lightest-color;
		}
	}

	code {
		color: rgba($dark-light-color, .8);
	}

	::selection {
		background: rgba($dark-light-color, .25);
	  }
	::-moz-selection {
		background: rgba($dark-light-color, .25);
	  }
	  
	.post-content {
		& > pre,
		.highlight > div {
			border-left: 0.4em solid rgba($dark-primary-color, .8);
		}

		blockquote {
			background: $dark-darkest-color;
			border-left: 0.4em solid rgba($dark-primary-color, .8);
		}
	}

	.annotation {
		background: $dark-darkest-color;
		border-bottom: 2px solid $dark-primary-color;
	}
	
	.accentline {
		border-bottom: 3px solid $dark-primary-color;
	}
	
	.important {
		background: $dark-darkest-color;
		border: 2px dashed $dark-primary-color;
	}
	
	.answer {
		background: $dark-darkest-color;
		border-top: 2px solid $dark-primary-color;
	}
}




