{{/* Get image resource. */}}
{{ $image := (.Page.Resources.GetMatch  (index .Params.image)) }}
{{ $src := $image }}
{{ $alt := .Get "alt" }}

{{/* So for posts that aren't setup in the page bundles, it doesn't fail  */}}

{{ if $src }}
  {{ $tinyw := default "500x webp" }}
  {{ $smallw := default "800x webp" }}
  {{ $mediumw := default "1200x webp" }}
  {{ $largew := default "1600x webp" }}

  {{/* My own modernising - straight up resize instead of adding to scratch */}}
  {{/* resize the src image to the given sizes */}}
  {{ $tiny := $src.Resize $tinyw }}
  {{ $small := $src.Resize $smallw }}
  {{ $medium := $src.Resize $mediumw }}
  {{ $large := $src.Resize $largew }}

  {{/* only use images smaller than or equal to the src (original) 
  image size, as Hugo will upscale small images */}}


  <a href="{{ $src.RelPermalink }}">
      <picture>
      <source media="(max-width:376px)" 
          srcset="{{with $tiny.RelPermalink }}{{.}}{{ end }}">
      <source media="(max-width:992px)" 
          srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">
      <source media="(max-width:1400px)" 
          srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">
      <source media="(min-width:1600px)" 
          srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">
      <img 
    alt="{{ $alt }}" title="{{ $alt }}" src="{{ $src.RelPermalink }}" 
    height="{{ $src.Height }}" width="{{ $src.Width }}" class="img-fluid" loading="eager">
  </picture>
  </a>
{{ end }}